{% extends 'base.html' %}

{% from 'macros/legend.html' import Legend %}
{% from 'macros/CardFancy.html' import CardFancy %}
{% from 'macros/_viewport.html' import Viewport %}

{% set cardHeight = "185px" %}

{% block content %}
    {% call Viewport(data, 'clima', 'gradient', 5) %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active"
                   id="nav-home-tab"
                   data-toggle="tab"
                   href="#nav-home"
                   role="tab"
                   aria-controls="nav-home"
                   aria-selected="true">
                    <span class="semibold">Gradiente Actual</span>
                    <small class="text-muted">2018 - 2019</small>
                </a>
                <a class="nav-item nav-link"
                   id="nav-profile-tab"
                   data-toggle="tab"
                   href="#nav-profile"
                   role="tab"
                   aria-controls="nav-profile"
                   aria-selected="false">
                    <span class="semibold">Gradiente Futuro</span>
                    <small class="text-muted">2020 - 2050</small>
                </a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active"
                 id="nav-home"
                 role="tabpanel"
                 aria-labelledby="nav-home-tab">
                <div class="px-5 py-3">
                    <div style="height: 136px">
                        {% call CardFancy('brown', '¿Que es el Gradiente de Impacto?', '', ['h-100', 'pr-5']) %}
                        <p class="mt-2" style="margin-right: 20%">Este es asociado a la adaptacion del cacao que va a tener en el area de siembre y la modificaciones que tendria que realizar para el buen desempeño de este</p>
                        {% endcall %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-8">
                            <div class="shadow-lg">
                                <img src="../../images/map2.jpg" class="w-100 img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {{ Legend('Leyenda de temperatura', [], ['shadow-lg', 'border-0']) }}
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="title-highlight mb-4">Descripción del clima en tu area</h5>
                        <p>Rerum pretium magnam ea numquam integer sodales, condimentum, adipisci? Felis provident cubilia, mauris incidunt dignissimos quaerat venenatis eos. Earum veniam eiusmod dolorum sem. Debitis ipsum praesentium amet. Exercitation nonummy vitae, minus aperiam praesentium, commodi dolor eros. Eveniet eius proident ipsum. Potenti, ridiculus tortor? Nam aute hendrerit dolore ea harum sociis turpis neque aspernatur dapibus laborum tellus ad omnis consectetuer. Habitasse! In fringilla itaque dignissimos eleifend doloremque tristique iste. Eleifend penatibus! Parturient voluptates congue tempore doloremque, habitasse sapiente condimentum cubilia blanditiis, suscipit? Minim habitasse cillum ultricies? Lacus, laboriosam, laborum euismod, magnis! Dicta vel quo quos adipisicing placerat? Maiores ratione erat, sollicitudin.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
                 id="nav-profile"
                 role="tabpanel"
                 aria-labelledby="nav-profile-tab">
                <div class="px-5 py-3">
                    <div style="height: 136px">
                        {% call CardFancy('brown', '¿Que es el Gradiente de Impacto?', '', ['h-100', 'pr-5']) %}
                        <p>Este es asociado a la adaptacion del cacao que va a tener en el area de siembre y la modificaciones que tendria que realizar para el buen desempeño de este</p>
                        {% endcall %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-8">
                            <div class="shadow-lg">
                                <img src="../../images/map2.jpg" class="w-100 img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {{ Legend('Leyenda de temperatura', [], ['shadow-lg', 'border-0']) }}
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="title-highlight mb-4">Descripción del clima en tu area</h5>
                        <p>Rerum pretium magnam ea numquam integer sodales, condimentum, adipisci? Felis provident cubilia, mauris incidunt dignissimos quaerat venenatis eos. Earum veniam eiusmod dolorum sem. Debitis ipsum praesentium amet. Exercitation nonummy vitae, minus aperiam praesentium, commodi dolor eros. Eveniet eius proident ipsum. Potenti, ridiculus tortor? Nam aute hendrerit dolore ea harum sociis turpis neque aspernatur dapibus laborum tellus ad omnis consectetuer. Habitasse! In fringilla itaque dignissimos eleifend doloremque tristique iste. Eleifend penatibus! Parturient voluptates congue tempore doloremque, habitasse sapiente condimentum cubilia blanditiis, suscipit? Minim habitasse cillum ultricies? Lacus, laboriosam, laborum euismod, magnis! Dicta vel quo quos adipisicing placerat? Maiores ratione erat, sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}