{% extends 'base.html' %}

{% from 'macros/_viewport.html' import Viewport %}
{% from 'macros/legend.html' import Legend %}
{% from 'macros/CardFancy.html' import CardFancy %}

{% set cardHeight = "185px" %}

{% block content %}
    {% call Viewport(data, 'clima', 'info', 1) %}
        <div class="container-fluid">
            <div class="card-deck">
                <div class="card border-0 shadow-lg">
                    <div style="height: {{cardHeight}}">
                        {% call CardFancy('blue', 'Precipitacion', 'Promedio mensual', ['h-100']) %}
                        <div class="mt-3 text-center mr-4" style="font-size: 2.5rem">2500 mm</div>
                        {% endcall %}
                    </div>
                    <div class="p-3">
                        <div class="small-chart-container">
                            <canvas id="chartPrecipitacion"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-lg">
                    <div style="height: {{cardHeight}}">
                        {% call CardFancy('orange', 'Temperatura Promedio', 'Promedio mensual', ['h-100']) %}
                        <div class="mt-3 text-center mr-4" style="font-size: 2.5rem">31</div>
                        {% endcall %}
                    </div>
                    <div class="p-3">
                        <div class="small-chart-container">
                            <canvas id="chartTemp"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-lg">
                    <div style="height: {{cardHeight}}">
                        {% call CardFancy('green', 'Aptitud del cacao', 'Promedio de Reduccion/Ampliacion de area de plantacion', ['h-100']) %}
                        <div class="mt-3 text-center mr-4" style="font-size: 2.5rem">45</div>
                        {% endcall %}
                    </div>
                    <div class="p-3">
                        <div class="small-chart-container">
                            <canvas id="chartAptitud"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-8">
                    <div class="shadow-lg">
                        <div class="alert alert-info">La informacion presentada es valida para el departamento de Matagalpa</div>
                        <img src="../../images/map.jpg" class="w-100 img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 shadow-lg">
                        <div style="height: {{cardHeight}}">
                            {% call CardFancy('brown', 'Gradiente de impacto', 'Cambios en forma de cultivo', ['h-100']) %}
                            <p>jj</p>
                            {% endcall %}
                        </div>
                        <div class="p-3">
                            <div class="small-chart-container">
                                <canvas id="chartGradient"></canvas>
                            </div>
                        </div>
                    </div>
                    {{ Legend('Leyenda de temperatura', [], ['mt-4', 'shadow-lg', 'border-0']) }}
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}