{% extends 'base.html' %}

{% from 'macros/Ask.html' import Ask %}
{% from 'macros/_viewport.html' import Viewport %}
{% from 'macros/Layout.html' import Layout, Header, Sider, Content, Footer %}

{% block content %}
    {% call Viewport(data, 'clima', 'practice', 6) %}
        {% call Layout(false, ['p-3']) %}
            {% call Header() %}
                {% include "partials/intro.html" %}
            {% endcall %}

            {% call Content() %}
                {{ Ask(1,'title lol') }}
            {% endcall %}

            {% call Content() %}
                <nav class="d-flex justify-content-center">
                    {% include "partials/pagination.html" %}
                </nav>
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}