{% extends 'base.html' %}

{% from 'macros/legend.html' import Legend %}
{% from 'macros/CardFancy.html' import CardFancy %}
{% from 'macros/_viewport.html' import Viewport %}

{% set cardHeight = "185px" %}

{% block content %}
    {% call Viewport(data, 'clima', 'temp', 3) %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active"
                   id="nav-home-tab"
                   data-toggle="tab"
                   href="#nav-home"
                   role="tab"
                   aria-controls="nav-home"
                   aria-selected="true">
                    <span class="semibold">Temperatura Actual</span>
                    <small class="text-muted">2018 - 2019</small>
                </a>
                <a class="nav-item nav-link"
                   id="nav-profile-tab"
                   data-toggle="tab"
                   href="#nav-profile"
                   role="tab"
                   aria-controls="nav-profile"
                   aria-selected="false">
                    <span class="semibold">Temperatura Futuro</span>
                    <small class="text-muted">2020 - 2050</small>
                </a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active"
                 id="nav-home"
                 role="tabpanel"
                 aria-labelledby="nav-home-tab">
                <div class="px-5 py-3">
                    <div style="height: 136px">
                        {% call CardFancy('orange', '¿Que es temperatura?', '', ['h-100', 'pr-5']) %}
                        <p class="mt-2" style="margin-right: 20%">Se llama temperatura a uno de los elementos constitutivos del clima que se refiere al grado de calor específico del aire en un lugar y momento determinados así como la evolución temporal y espacial de dicho elemento en las distintas zonas climáticas.</p>
                        {% endcall %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-8">
                            <div class="shadow-lg">
                                <img src="../../images/map3.jpg" class="w-100 img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {{ Legend('Leyenda de temperatura', [], ['shadow-lg', 'border-0']) }}
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="title-highlight mb-4">Descripción del clima en tu area</h5>
                        <p>Rerum pretium magnam ea numquam integer sodales, condimentum, adipisci? Felis provident cubilia, mauris incidunt dignissimos quaerat venenatis eos. Earum veniam eiusmod dolorum sem. Debitis ipsum praesentium amet. Exercitation nonummy vitae, minus aperiam praesentium, commodi dolor eros. Eveniet eius proident ipsum. Potenti, ridiculus tortor? Nam aute hendrerit dolore ea harum sociis turpis neque aspernatur dapibus laborum tellus ad omnis consectetuer. Habitasse! In fringilla itaque dignissimos eleifend doloremque tristique iste. Eleifend penatibus! Parturient voluptates congue tempore doloremque, habitasse sapiente condimentum cubilia blanditiis, suscipit? Minim habitasse cillum ultricies? Lacus, laboriosam, laborum euismod, magnis! Dicta vel quo quos adipisicing placerat? Maiores ratione erat, sollicitudin.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
                 id="nav-profile"
                 role="tabpanel"
                 aria-labelledby="nav-profile-tab">
                <div class="px-5 py-3">
                    <div style="height: 136px">
                        {% call CardFancy('orange', '¿Que es temperatura?', '', ['h-100', 'pr-5']) %}
                        <p class="mt-2" style="margin-right: 20%">Se llama temperatura a uno de los elementos constitutivos del clima que se refiere al grado de calor específico del aire en un lugar y momento determinados así como la evolución temporal y espacial de dicho elemento en las distintas zonas climáticas.</p>
                        {% endcall %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-8">
                            <div class="shadow-lg">
                                <img src="../../images/map3.jpg" class="w-100 img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {{ Legend('Leyenda de temperatura', [], ['shadow-lg', 'border-0']) }}
                        </div>
                    </div>

                    <div class="mt-4">
                        <h5 class="title-highlight mb-4">Descripción del clima en tu area</h5>
                        <p>Rerum pretium magnam ea numquam integer sodales, condimentum, adipisci? Felis provident cubilia, mauris incidunt dignissimos quaerat venenatis eos. Earum veniam eiusmod dolorum sem. Debitis ipsum praesentium amet. Exercitation nonummy vitae, minus aperiam praesentium, commodi dolor eros. Eveniet eius proident ipsum. Potenti, ridiculus tortor? Nam aute hendrerit dolore ea harum sociis turpis neque aspernatur dapibus laborum tellus ad omnis consectetuer. Habitasse! In fringilla itaque dignissimos eleifend doloremque tristique iste. Eleifend penatibus! Parturient voluptates congue tempore doloremque, habitasse sapiente condimentum cubilia blanditiis, suscipit? Minim habitasse cillum ultricies? Lacus, laboriosam, laborum euismod, magnis! Dicta vel quo quos adipisicing placerat? Maiores ratione erat, sollicitudin.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}