//
// Accordion
//

.accordion {
  > .card {
      background-color: #E7E9EC;
      margin-bottom: 1.5rem;

      border: 0;
      border-radius: 0;

      &:last-child{
        margin: 0;
      }
    }

  .card-header {
    padding: 0;
    font-weight: 500;
    border-bottom: 0;
    background-color: transparent;
  }
}