.breadcrumb{
  color: $gray;

  .breadcrumb-item {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;

    a {
      color: inherit;
      display: inline-flex;
      align-items: center;
    }

    .icon {
      display: block;
      width: 2rem;
    }

    + .breadcrumb-item {
      &:before{
        opacity: .35;
        height: 1rem;
      }
    }
  }
}
