.form-control-custom{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: $dark;
  background-color: transparent;
}

.form-select{
  color: $dark;
  background-color: $light;
  border-color: transparent;
  font-size: 1.15rem;
}