<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <span class="icon">{% include "../svg/Home.svg" %}</span>
                    <span class="ml-2">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">
                    <span>Matiguas, Matagalpa-Nicaragua</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span class="semibold">Informacion General</span>
            </li>
        </ol>
    </nav>
</div>
