<section>
    <div class="bg-default py-3 text-center mb-5">
        <h4 class="m-0">Selecciona la ubicación de la finca</h4>
    </div>

    <form class="px-5">
        <div class="form-group">
            <label class="label-with-icon" for="coordinateInput">
                <span class="text-muted label-icon">
                    {% include "../svg/edit.svg" %}
                </span>
                <span class="label-text">Ingresar coordenada</span>
            </label>
            <input id="coordinateInput"
                   class="form-control"
                   placeholder="36º 55' 10'' N 2º 56' 55'' O">
        </div>

        <div class="form-group mt-4 mb-0">
            <label class="label-with-icon" for="placeInput" >
                <span class="text-muted label-icon">
                    {% include "../svg/Shape.svg" %}
                </span>
                <span class="label-text">Lugar</span>
            </label>
            <input id="placeInput"
                   class="form-control"
                   placeholder="Nombre del municipio">
        </div>

        <button type="submit" class="btn btn-block btn-lg btn-primary mt-5">
            <span>Ir a la informacion</span>
            <span>&rightarrow;</span>
        </button>
    </form>
</section>