{% extends 'base.html' %}

{% from 'macros/_viewport.html' import Viewport %}
{% from 'macros/Ask.html' import Ask %}

{% block content %}
    {% call Viewport(data, 'plan', 'compare', 1) %}
        <div class="container-fluid mt-4">
            <h4 class="text-center">SELECCIONE LA RESPUESTA A SU DERECHA DE LAS PRACTICAS QUE USTED REALIZA</h4>
            <div class="row mt-5 mb-3">
                <div class="col">
                    <p class="semibold text-center lead">Recomendaciones Dadas</p>
                </div>
                <div class="col">
                    <p class="semibold text-center lead">Actividades que realiza  en su finca</p>
                </div>
            </div>
            <div class="row">
                <div class="col border-right px-5 py-4">
                    {{ Ask(1, 'list', 'questions title', ['uno', 'dos', 'tres']) }}
                </div>
                <div class="col px-5 py-4">
                    {{ Ask(1, 'radio', 'questions title', ['uno', 'dos', 'tres']) }}
                </div>
            </div>
            <div class="row">
                <div class="col border-right px-5 py-4">
                    {{ Ask(1, 'list', 'questions title', ['uno', 'dos', 'tres']) }}
                </div>
                <div class="col px-5 py-4">
                    {{ Ask(1, 'unit', '¿Non error facilisi mattis volutpat facilis auctor sapiente?', ['uno']) }}
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}