{% extends "base.html" %}

{% from 'macros/_viewport.html' import Viewport %}

{% set months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %}

{% block content %}
    {% call Viewport(data, 'plan', 'development', 3) %}
        <div class="layout">
            <div class="layout-header">
                <div class="p-4 text-center">
                    <h4>Seleccione las fechas para llevar a cabo las recomendaciones</h4>
                </div>
            </div>
            <div class="layout-content">
                <div class="p-4">
                    {% for i in range(1, 15) -%}
                    <div class="row align-items-center mt-3">
                        <div class="col col-sm-8">
                            <div class="media media-numeric">
                                <div class="media-left">{{i}}</div>
                                <div class="media-body text-truncate">
                                    <p class="media-title text-truncate">Elaborar viviero con plantas de cacao mejoras geneticamente</p>
                                </div>
                            </div>
                        </div>

                        <div class="col col-sm-4">
                            <form class="form-inline justify-content-end ">
                                <label class="mr-3 lead semibold" for="selectStart{{i}}">De:</label>
                                <select class="custom-select form-select" id="selectStart{{i}}">
                                    {% for m in months %}
                                    <option value="{{m}}" >{{m}}</option>
                                    {% endfor %}
                                </select>
                                <label class="mx-3 lead semibold" for="selectEnd{{i}}">Hasta:</label>
                                <select class="custom-select form-select"
                                        id="selectEnd{{i}}">
                                    {% for m in months %}
                                    <option value="{{m}}" >{{m}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                    {%- endfor %}
                </div>
            </div>
            <div class="layout-footer">
                <div class="px-4 pb-5 text-right">
                    <a href="/plan/GenerarPresupuesto.html" class="btn btn-primary">
                        <span class="d-inline-block mr-2">Generar Presupuesto</span>
                        <span class="d-inline-block" style="width: 1.5rem">{% include "../templates/svg/arrow.svg" %}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}