{% extends "base.html" %}
{% from 'macros/menu.html' import Menu %}
{% from 'macros/NavSection.html' import Nav %}

{% block content %}
<div id="viewport" class="layout layout-has-sider">
    <aside class="layout-sider bg-white"
           style="flex: 0 0 112px; max-width: 112px; min-width: 112px; width: 112px;">
        {{Menu(menu, 'clima')}}
    </aside>
    <div class="layout">
        <header class="layout-header" id="header">
            {% include "partials/header.html" %}
        </header>
        <div class="layout layout-has-sider">
            <aside class="layout-sider"
                   style="flex: 0 0 224px; max-width: 224px; min-width: 224px; width: 224px;">
                {{Nav(sections.lugar, 'lugar.info')}}
            </aside>
            <main class="layout-content">
                <section class="bg-white">

                </section>
            </main>
        </div>
    </div>
</div>
{% endblock %}