{% extends "base.html" %}
{% from 'macros/menu.html' import Menu %}
{% from 'macros/Layout.html' import Layout, Header, Sider, Content %}

{% block content %}
{% call Layout(true, [], 'viewport') %}
    {% call Sider(112, ['bg-white border-right']) %}
        {{ Menu(data.menu, 'lugar') }}
    {% endcall %}
    {% call Layout() %}
        {% call Header([], 'header') %}
            {% include "partials/header.html" %}
        {% endcall %}
        {% call Layout(true) %}
            {% call Sider(390, ['bg-white']) %}
                {% include "partials/UbicationForm.html" %}
            {% endcall %}
            {% call Content() %}
                <section>
                    <img width="100%" src="../images/map.png" alt="map" class="img-fluid">
                </section>
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endcall %}
{% endblock %}