{% macro Ask(num, question, list, options) %}
<div class="media ask">
    <div class="num">{{num}}</div>
    <div class="media-body">
        <h5 class="mt-0">{{question}}</h5>
        <ol class="mr-2">
            <li>Facilis scelerisque lacinia vehicula </li>
            <li>Facilis scelerisque lacinia vehicula </li>
            <li>Facilis scelerisque lacinia vehicula </li>
            <li>Facilis scelerisque lacinia vehicula </li>
            <li>Facilis scelerisque lacinia vehicula </li>
        </ol>
    </div>
</div>
{% endmacro %}