{% macro CardFancy(type, title, subTitle, classes = []) %}
<div class="card card-fancy card-fancy-{{type}} {{ classes | join(' ') }}">
    <div class="card-fancy-icon">
        {% if type == 'blue' %}
        {% include "../svg/rain2.svg" %}
        {% elif type == 'orange' %}
        {% include "../svg/celsius.svg" %}
        {% elif type == 'green' %}
        {% include "../svg/seeding.svg" %}
        {% elif type == 'brown' %}
        {% include "../svg/planting.svg" %}
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title m-0">{{title}}</h5>
        <small class="card-text">{{subTitle}}</small>
        {% if caller %}
            {{ caller() }}
        {% endif %}
    </div>
</div>
{% endmacro %}