{% macro Menu(navigation, activePage) %}
<nav class="nav flex-column">
    <a class="nav-card brand"
       style="background-image: url('../../images/logo.png')"
       href="/">
    </a>

    {% for item in navigation %}
    <a href="{{item.href}}"
       {% if activePage == item.id %}
        class="nav-card active"
       {% else %}
        class="nav-card"
       {% endif %}
       title="{{item.label}}"
       >
        {% include "../svg/" + item.icon %}
        <span class="mt-2">{{item.label}}</span>
    </a>
    {% endfor %}
</nav>
{% endmacro %}